.btn {
  text-decoration: none;
  background-color: black;
  color: white;
  display: inline-block;
  line-height: 50px;
  padding: 0 45px;
  border-radius: 25px;
  font-weight: 500;

  &-dark {
    background-color: white;
    color: black;
    display: inline-block;
    text-decoration: none;
    line-height: 50px;
    padding: 0 45px;
    border-radius: 25px;
    font-weight: 500;
  }
}
